/*Index*/

*{

    margin: 0; 
    padding: 0;   
    font-family: 'Lato', sans-serif;

}


nav{

    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar{

    background-color: #D9D9D9;
    text-align: center;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}


.navbar a{

    text-decoration: none;
    color: #202124 ;
    padding: 2rem;
    font-size: 1.2rem;
}

.navbar_titulo{

    text-decoration: none;
    color: #202124;
    display: inline-block;
    position: absolute;
    right: 93%;
    font-size: 1.2rem;
}


.navbar_items li{

    display: inline-block;
    text-align: center;

}


#titulo{

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;

}

.titulo_index{

    color: #F23838;
    text-align: center;
    font-size: 4rem;
    padding: 0rem 1.5rem 1.5rem 1.5rem;
}

.subtitulo_index{
    color: #0D0D0D;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 0.5rem;

}


.subtitulo_index2{

    color: #0D0D0D;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 2rem;

}

#card_index{

    background-color: #8C8C8C;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
}

#card_index img{

    display: inline-block;
   /*  padding: 1rem; */
    width: 20%;

}

.slider_c{

    margin-left: 5rem;
    margin-right: 5rem;
}

.slider img{

    height: 550px;
}



#servicios{

    height: 25rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;

}

#titulo_servicios{

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-abstracto-blanco_23-2148810113.jpg?t=st=1649035442~exp=1649036042~hmac=46f6d64fa1487785ddbd4791acfa6c72224681cbaab31446b9715a4c07cfb20f&w=1480);
    
}

 .section_titulo{ 

    color: #8C2020;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    height: 400px;

}

.section_list {

    color: #0D0D0D;
    font-size: 2rem;
    display: inline-block;

}


.section_list li{

list-style: none; 
padding: 2rem;
display: flex;
align-items: center;

}

.icon_check{
    color: #0D0D0D;
    margin-right: 4rem;
}

footer{

    background-color: #0D0D0D;
}


.redes_footer {

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    height: 20px;

}

svg{
    color: #D9D9D9;
}

.redes_footer a{

    text-decoration: none;
    color: #D9D9D9;
    font-size: 1rem;
    padding: 2rem;
}


.navbar_footer{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20px;
    padding-top: 1rem;
}


.navbar_footer li{
    display: inline-block;
    padding: 1rem;

}

.navbar_footer li a{

    text-decoration: none;
    color: #D9D9D9;
    font-size: 1rem;

}


.rights_footer{

    color: #D9D9D9;
    display: flex;
    height: 20px;
    justify-content: start;
    margin-left: 1rem;
    margin-top: 1rem;
}


/* .grid{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 300px 1400px 400px 110px;
    grid-template-areas: 
    "header header"
    "titulo titulo"
    "imagenes imagenes"
    "titulo_serv servicios"
    "footer footer"

}
 */
@media screen and (max-width:480px){

    .grid{
        grid-template-columns: 3fr;
        grid-template-rows: 60px 300px 600px 100px 400px 110px;
        grid-template-areas:
        "header"
        "titulo"
        "imagenes"
        "titulo_serv"
        "servicios"
        "footer"
    }

    .navbar{
        width: 480px;
        text-align: center;
    }

    .navbar h3{

        display: none;
    }

    .navbar a{
        font-size: 1rem;
    }


    #titulo{
        width: 480px;
    }

    #card_index{
        width: 480px;
    }

    #titulo_servicios{
        width: 480px;
    }

    #servicios{
        width: 480px;
        text-align: center;
    }

    .section_list li{

        padding-top: 1rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .icon_check{
        margin-right: 1rem;
    }

    footer{
        width: 480px;
    }

    .redes_footer{
        margin: 0rem;
    }
}


header{

    grid-area: header;
}


#titulo{

    grid-area: titulo;

}


#card_index{

    grid-area: imagenes;

}


#titulo_servicios{

    grid-area: titulo_serv;
}

#servicios{

    grid-area: servicios;
    
}

footer{

    grid-area: footer;
}
/*productos*/

#titulo_prod h1{

    color: #F23838;
    text-align: left;
    font-size: 3rem;
    margin: 1rem;

}

#titulo_prod h3{

    color:  #0D0D0D;
    text-align: center;
    font-size: 1.5rem;

}

.aside h4{

    font-size: 1.2rem;  
    padding-top: 1rem; 
    padding-bottom: 2rem;
}

.cat_list{

    display: inline-block;
    list-style-type: none;
}

.cat_list li{

    padding: 0rem 0.5rem 0.5rem 0.5rem;
}

.card_prod{

    text-align: center;
    margin: 0rem 1.5rem 0rem 1.5rem;
}


.card{

    
    width: 15rem;
    margin: 1rem;
    padding: 2rem;
    display: inline-block;
    border: solid;
}

.card img{

    width: 100%;
}

.card h3{

    text-align: center;
}

.card h5{

    text-align: center;
    padding-top: 0.5rem;
}


/* .grid_prod{

    display: grid;
    grid-template-columns: 0.3fr 2fr;
    grid-template-rows: 60px 120px 900px 120px;
    grid-template-areas: 
    "header header"
    "titulo_prod titulo_prod"
    "aside productos"
    "footer footer"

}
 */
@media screen and (max-width: 480px){

    .grid_prod{
        grid-template-columns: 3fr;
        grid-template-rows: 60px 120px 100px 2500px 120px;
        grid-template-areas:
        "header"
        "titulo_prod"
        "aside"
        "productos"
        "footer"
    }

    .navbar{
        width: 480px;
    }

    #titulo_prod{
        width: 480px;
    }

    .aside{
        width: 480px;
    }

    .aside h4{
        font-weight: bold;
    }

    .aside li{
        display: inline-block;
        text-align: center;
    }

    .card_prod{
        width: 480px;
        margin: 0rem 0rem 0rem 0rem;
    }

    footer{
        width: 480px;
    }
}
    

#titulo_prod{

    grid-area: titulo_prod;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aside{

    grid-area: aside;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 200px;

}

.card_prod{

    grid-area: productos;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
/*nosotros*/

#titulo_nos h1{
    
    color: #F23838;
    text-align: left;
    font-size: 3rem;
    margin: 1rem;
}

.quienes_titulo{

    text-align: center;
    padding: 1rem;

}

.quienes_parra{

    text-align: center;
}

.imagen_nos img{

    height: 250px;
    width: 250px;
}

#showroom_titulo{

    text-align: center;
}

#showroom_fotos img{
    height: 300px;
    width: 300px;
}

/* .grid_nos{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 60px 90px 300px 800px 120px;
    grid-template-areas: 
    "header header"
    "titulo titulo"
    "imagen_q quienes"
    "showroom showroom"
    "footer footer"
}
 */
#titulo_nos{

    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quienes{
    grid-area: quienes;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.imagen_nos{
    grid-area: imagen_q;
    display: flex;
    justify-content: center;
    align-items: center;
}

#showroom{
    grid-area: showroom;
    margin-top: 2rem;
}

#showroom_fotos{
    grid-area: imagen_l;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#showroom_fotos img{

    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}
/*testimonios*/

.form_test{

    background-color: #8C8C8C;
    text-align: center;
    
}

.titulo_test{

    color: #F23838;
    font-size: 3rem;
    margin: 1rem;
}

.form_titulo{

    padding: 1rem;
    text-align: left;
}

.input{

    display: block;
    padding: 0.5rem;
}

.input_block{

    display: block;
    padding: 0.5rem;
    text-align: center;
}

/*contacto*/

#titulo_cont h1{

    color: #F23838;
    font-size: 3rem;
    margin: 1rem;   
}


.ubicacion{

    text-align: center;

}


.ubicacion_titulo{


}

.ubicacion iframe{

    height: 20rem;
    width: 40%
}

/* .grid_cont{

    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 60px 100px 700px 110px;
    grid-template-areas: 
    "header header"
    "titulo_cont titulo_cont"
    "formulario ubicacion"
    "footer footer"

} */

#titulo_cont{
    grid-area: titulo_cont;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formulario{
    grid-area: formulario;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

.ubicacion{
    grid-area: ubicacion;
}
/*ID*/

