.btn-whatsapp {
  background-color: #25D366; }

.btn-facebook {
  background-color: #4267b2; }

.btn-instagram {
  background-color: #833AB4; }

nav {
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.navbar {
  background-color: #202124 !important;
  text-align: center;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 1; }
  .navbar a {
    text-decoration: none;
    color: white !important;
    padding: 2rem;
    font-size: 1.2rem; }

.barra {
  background-color: #202124 !important; }

.navbar_titulo {
  text-decoration: none;
  color: #202124;
  display: inline-block;
  position: absolute;
  right: 93%;
  font-size: 1.2rem; }

.navbar_items {
  margin-left: 12rem; }
  .navbar_items li {
    display: inline-block;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem; }

.btn1 {
  transition: all 0s; }

.btn1:focus {
  border-color: #F23838; }

.btn2 {
  color: #F23838;
  border-color: #F23838;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
  .btn2:hover {
    color: #202124;
    background-color: #F23838;
    border-color: #F23838;
    box-shadow: #F23838; }

#titulo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column wrap; }

.titulo_index {
  color: #F23838;
  text-align: center;
  font-size: 4rem;
  padding: 6rem 1.5rem 1.5rem 1.5rem; }

.subtitulo_index {
  color: #202124;
  text-align: center;
  font-size: 3rem;
  padding-bottom: 0.5rem; }

.subtitulo_index2 {
  color: #202124;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem; }

.slider_c {
  margin-left: 5rem;
  margin-right: 5rem;
  position: flex; }

.slider img {
  height: 550px;
  margin-bottom: 2rem; }

.separador {
  height: 15px !important;
  width: 60%;
  background-color: #202124 !important;
  margin-left: 25rem;
  margin-right: 25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #202124; }

.content-box-gray {
  background-color: #8C8C8C; }

.servicios {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  margin-bottom: 0rem; }

.section_titulo {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  margin-bottom: 0rem; }

.section_list {
  color: #202124;
  font-size: 2rem;
  display: inline-block; }
  .section_list li {
    list-style: none;
    padding: 2rem;
    display: flex;
    align-items: center;
    transition: all 1s; }
    .section_list li:hover {
      transform: scale(1.3, 1.3);
      color: white; }

.icon_check {
  color: #202124;
  margin-right: 4rem; }

footer {
  background-color: #202124; }

.redes_footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px; }
  .redes_footer a {
    text-decoration: none;
    color: #D9D9D9;
    font-size: 1rem;
    padding: 2rem; }

svg {
  color: #D9D9D9; }

.navbar_footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  padding-top: 1rem; }
  .navbar_footer li {
    display: inline-block;
    padding: 1rem; }
    .navbar_footer li a {
      text-decoration: none;
      color: #D9D9D9;
      font-size: 1rem; }

.rights_footer {
  color: #D9D9D9;
  display: flex;
  height: 20px;
  justify-content: start;
  margin-left: 1rem;
  font-size: 1rem; }

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  color: white !important;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow .15s ease-in-out; }

@media screen and (max-width: 768px) {
  header {
    height: 60px !important;
    display: flex;
    align-items: center; }
  .navegador {
    display: flex;
    align-items: center !important; }
  .slider_c img {
    height: 400px;
    margin-bottom: 1rem; }
  .barra {
    height: 60px; }
  #titulo {
    text-align: center;
    width: 100%; }
  .navbar {
    text-align: center;
    height: 80px; }
  .navbar h3 {
    display: none; }
  .navbar a {
    font-size: 1.5rem;
    left: 40%;
    padding: 1rem; }
  #servicios {
    text-align: center; }
  .section_list li {
    padding-top: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
    justify-content: space-evenly;
    font-size: 1.5rem; }
  .section_list svg {
    display: none; }
  .icon_check {
    margin-right: 1rem; }
  .redes_footer {
    margin: 0rem; }
  .navbar_footer {
    display: none; }
  .nav-item a {
    padding: 0.5rem; }
  .navbar_items {
    background-color: #202124;
    margin-left: 0rem; } }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .titulo_index {
    padding-top: 8rem; }
  .slider_c img {
    margin-bottom: 1rem; }
  .navbar {
    height: 102px; }
  .nav-item a {
    padding: 0.5rem; }
  .navbar_items {
    background-color: #202124;
    margin-left: 0rem; }
  .d-flex {
    display: none !important; } }

#titulo_prod {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #titulo_prod h1 {
    color: #F23838;
    text-align: center;
    font-size: 4rem;
    margin: 1rem;
    padding: 5rem 0rem 1rem 0rem; }

.subtitulo_prod {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8C8C8C;
  height: 80px; }
  .subtitulo_prod h3 {
    text-align: center;
    font-size: 3rem;
    color: white; }

.aside {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 300px;
  background-color: #D9D9D9;
  border-radius: 5px;
  border: solid;
  margin-top: 1.85rem; }
  .aside h4 {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    text-decoration: underline; }
  .aside input {
    font-size: 1.2rem; }

.cat_list {
  display: inline-block;
  list-style-type: none;
  padding-left: 0rem; }
  .cat_list li {
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    font-size: 1.5rem;
    transition: color 0s; }
    .cat_list li:hover {
      color: #F23838; }

.botoncat {
  width: 130px;
  padding: 0.5rem;
  margin: 0.5rem; }

.categorias {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 1.8rem;
  margin-right: 1rem; }

.card_prod {
  text-align: center;
  margin: 1rem 0rem 0rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around; }

.card {
  width: 15rem;
  margin: 2rem;
  padding: 2rem;
  display: inline-block;
  border: solid;
  box-shadow: 5px 5px 5px #999;
  transition: all 1s; }
  .card:hover {
    transform: scale(1.2, 1.2); }
  .card img {
    width: 100%; }
  .card h3 {
    text-align: center;
    margin-top: 0.5rem; }
  .card h5 {
    text-align: center;
    padding-top: 0.5rem; }

@media screen and (max-width: 768px) {
  .btn1 {
    display: none; }
  .btn2 {
    display: none; }
  .subtitulo_prod {
    height: 100px; }
    .subtitulo_prod h3 {
      font-size: 2rem; }
  .aside {
    display: none; }
  .card_prod {
    margin: 0rem 0rem 0rem 0rem; }
  .cat_list li {
    transition: color 0s; }
  .cat_list li:hover {
    color: white; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  #titulo_prod h1 {
    padding-top: 7rem; }
  aside {
    height: 150px !important;
    justify-content: center;
    background-color: #F23838;
    margin: 0rem; }
  .aside h4 {
    font-weight: bold; }
  .aside li {
    display: inline-block;
    text-align: center; }
  .card_prod {
    margin: 0rem 0rem 0rem 0rem; }
  .cat_list li {
    transition: color 0s; }
  .cat_list li:hover {
    color: white; }
  .subtitulo_prod {
    height: 200px; } }

#titulo_nos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0rem 2rem 0rem; }
  #titulo_nos h1 {
    color: #F23838;
    text-align: center;
    font-size: 4rem;
    margin: 1rem; }

.quienes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-right: 2rem; */
  background-color: #D9D9D9;
  width: 100%; }

.quienes_titulo {
  text-align: center;
  padding: 1rem;
  font-size: 2.5rem; }

.quienes_parra {
  text-align: left;
  font-size: 1.2rem; }
  .quienes_parra li {
    font-size: 1.2rem; }

.imagen_nos {
  display: flex;
  justify-content: center;
  align-items: center; }
  .imagen_nos img {
    height: 250px;
    width: 250px; }

.circular-square {
  border-radius: 50%; }

.separador_nos {
  height: 50px;
  background-color: #202124;
  margin-top: 3rem; }

#showroom {
  margin-top: 2rem; }

#showroom_titulo {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  font-size: 2.5rem; }

.nosotros_s {
  text-align: center; }
  .nosotros_s p {
    font-size: 1.2rem;
    margin-bottom: 2rem; }

#showroom_fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  #showroom_fotos img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem; }

.slider_n {
  display: flex;
  justify-items: center; }

@media screen and (max-width: 768px) {
  .navbar {
    z-index: 1; }
  .quienes_parra {
    text-align: center; }
  .quienes {
    flex-direction: column; }
  .carousel button {
    display: none; } }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  #titulo_nos h1 {
    padding-top: 3rem; } }

.titulo_test {
  color: #F23838;
  font-size: 4rem;
  text-align: center;
  padding: 6rem 0rem 1rem 0rem; }

.quienes_titulo {
  font-size: 3rem; }

.testi_subtitulo {
  display: flex;
  align-items: center; }

.testi_parra {
  font-size: 1.2rem;
  margin-right: 0rem; }

.img_cliente {
  height: 200px; }

.testimonios {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 2rem;
  background-color: #D9D9D9;
  padding: 1rem; }

#puntuacion {
  display: flex;
  flex-direction: row; }

.titulo_punt {
  margin-top: 0.1rem; }

.puntuacion {
  display: flex;
  justify-content: left;
  padding-left: 0rem; }
  .puntuacion li {
    display: inline-block;
    color: orange; }

.nombre_t {
  color: #F23838; }

.titulo_form h3 {
  text-align: center; }

.titulo_form p {
  font-size: 1.2rem; }

.form_titulo {
  padding: 1rem;
  text-align: left; }

.input {
  display: block;
  padding: 0.5rem; }

.input_block {
  display: block;
  padding: 0.5rem;
  text-align: center; }

.formulario_t {
  margin-left: 15rem;
  margin-right: 15rem;
  margin-bottom: 2rem;
  background-color: gainsboro;
  border-radius: 5px; }
  .formulario_t h3 {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem; }
  .formulario_t p {
    font-size: 1.2rem;
    text-align: center; }
  .formulario_t div .nombre {
    padding-top: 1rem; }

.clasificacion {
  direction: rtl;
  /* right to left */
  unicode-bidi: bidi-override;
  /* bidi de bidireccional */
  display: flex;
  justify-content: left;
  margin-left: 1rem; }

.clasificacion label {
  color: grey; }

.clasificacion label:hover {
  color: orange; }

.clasificacion label:hover ~ label {
  color: orange; }

.clasificacion input[type="radio"]:checked ~ label {
  color: orange; }

.clasificacion input[type="radio"] {
  display: none; }

.boton {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem; }
  .boton button {
    margin-right: 1rem; }

@media screen and (max-width: 768px) {
  .formulario_t {
    margin-right: 1rem;
    margin-left: 0rem; }
  .clientes {
    display: flex;
    justify-content: space-around;
    flex-direction: column; }
  .testi_subtitulo {
    margin-left: 0.2rem;
    padding: 0rem;
    display: flex;
    align-items: center; } }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .titulo_test {
    padding-top: 8rem; } }

#titulo_cont {
  display: flex;
  justify-content: center;
  align-items: center; }
  #titulo_cont h1 {
    color: #F23838;
    font-size: 4rem;
    margin: 1rem;
    text-align: center;
    padding: 5rem 0rem 1rem 0rem; }

.imagen_contacto img {
  height: 480px;
  width: 450px; }

.formulario_con {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .formulario_con .formulario_contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #D9D9D9;
    border-radius: 15px;
    width: 500px; }
    .formulario_con .formulario_contacto input {
      width: 300px; }
    .formulario_con .formulario_contacto textarea {
      width: 300px; }

.titulo_form {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.consulta {
  height: 80px;
  background-color: #8C8C8C;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem; }
  .consulta h3 {
    text-align: center;
    font-size: 2.5rem; }

.ubicacion {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem; }
  .ubicacion h3 {
    font-size: 2.5rem; }

.mapa {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem; }
  .mapa iframe {
    height: 400px;
    width: 700px; }

.texto_ubicacion svg {
  margin-left: 15rem; }

.texto_ubicacion p {
  text-align: center;
  font-size: 2rem;
  color: #F23838; }

#formulario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  margin-left: 2rem; }

.icon_ubi {
  height: 100px;
  width: 100px; }

@media screen and (max-width: 768px) {
  .consulta {
    height: 100px;
    margin-bottom: 0.5rem; }
    .consulta h3 {
      font-size: 1.5rem; }
  .imagen_contacto {
    text-align: center;
    margin-bottom: 1rem;
    height: 300px; }
    .imagen_contacto img {
      height: 250px;
      width: 200px; }
  .texto_ubicacion {
    margin-top: 1rem; }
    .texto_ubicacion svg {
      margin-left: 12rem; } }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  #titulo_cont h1 {
    padding-top: 7rem; }
  .consulta {
    height: 160px; }
  .texto_ubicacion {
    margin-top: 2rem; }
  .texto_ubicacion svg {
    margin-left: 10rem; } }

a:active {
  position: relative;
  top: 2px; }
