#titulo_cont{
    display: flex;
    justify-content: center;
    align-items: center;

        h1{
            color: #F23838;
            font-size: 4rem;
            margin: 1rem;   
            text-align: center;
            padding: 5rem 0rem 1rem 0rem;
        }
}

.consulta{
    height: 80px;
    background-color: $color_4;
    color: white;
    @include flexbox;
    margin-bottom: 3rem;
        h3{
            text-align: center;
            font-size: 2.5rem;
        }
}

.ubicacion{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    h3{
        font-size: 2.5rem;
    }
}

.mapa{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
    iframe{
        height: 400px;
        width: 700px
    }
}

.texto_ubicacion{
    svg{
        margin-left: 15rem;
    }
    p{
        text-align: center;
        font-size: 2rem;
        color: $color_1;
    }
}

#formulario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

.icon_ubi{
    height: 100px;
    width: 100px;
}