#titulo_cont{
    display: flex;
    justify-content: center;
    align-items: center;

        h1{
            color: #F23838;
            font-size: 4rem;
            margin: 1rem;   
            text-align: center;
            padding: 5rem 0rem 1rem 0rem;
        }
}

.imagen_contacto{
    img{
        height: 480px;
        width: 450px;
    }
}

.formulario_con{
    @include flexbox;
    
    .formulario_contacto{
        @include flexbox;
        flex-direction: column;
        background-color: $color_2;
        border-radius: 15px;
        width: 500px;
            input{
                width: 300px;
            }
            textarea{
                width:300px;
            }
    }
}

.titulo_form{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.consulta{
    height: 80px;
    background-color: $color_4;
    color: white;
    @include flexbox;
    margin-bottom: 3rem;
        h3{
            text-align: center;
            font-size: 2.5rem;
        }
}

.ubicacion{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    h3{
        font-size: 2.5rem;
    }
}

.mapa{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
    iframe{
        height: 400px;
        width: 700px
    }
}

.texto_ubicacion{
    svg{
        margin-left: 15rem;
    }
    p{
        text-align: center;
        font-size: 2rem;
        color: $color_1;
    }
}

#formulario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

.icon_ubi{
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 768px){

    .consulta{
        height: 100px;
        margin-bottom: 0.5rem;
        h3{
            font-size: 1.5rem;
        }
    }

    .imagen_contacto{
        text-align: center;
        margin-bottom: 1rem;
        height: 300px;
        img{
            height: 250px;
            width: 200px;
        }
    }

    .texto_ubicacion{
        margin-top: 1rem;
        svg{
            margin-left: 12rem;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

    #titulo_cont h1{
        padding-top: 7rem;
    }

    .consulta{
        height: 160px;
    }

    .texto_ubicacion{
        margin-top: 2rem;
    }

    .texto_ubicacion svg{
        margin-left: 10rem;
    }
}