.titulo_test{
    color: #F23838;
    font-size: 4rem;
    text-align: center;
    padding: 6rem 0rem 1rem 0rem;
}

.quienes_titulo{
    font-size: 3rem;
}

.testi_subtitulo{
    display: flex;
    align-items: center;
}

.testi_parra{
    font-size: 1.2rem;
    margin-right: 0rem;
}

.img_cliente{
    height: 200px;
}

.testimonios{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 2rem;
    background-color: $color_2;
    padding: 1rem;
}

#puntuacion{
    display: flex;
    flex-direction: row;
}

.titulo_punt{
    margin-top: 0.1rem;
}

.puntuacion{
    display: flex;
    justify-content: left;
    padding-left: 0rem;
    li{
        display: inline-block;
        color: orange;
    }
}

.nombre_t{

    color: $color_1;
}

.titulo_form{

    h3{
        text-align: center;
    }

    p{
        font-size: 1.2rem;
    }
}

.form_titulo{
    padding: 1rem;
    text-align: left;
}

.input{
    display: block;
    padding: 0.5rem;
}

.input_block{
    display: block;
    padding: 0.5rem;
    text-align: center;
}

.formulario_t{
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 2rem;
    background-color: gainsboro;
    border-radius: 5px;
        h3{
            font-size: 2rem;
            text-align: center;
            margin-top: 1rem;
        }
        p{
            font-size: 1.2rem;
            text-align: center;
        }

        div .nombre{
            padding-top: 1rem;
        }
}

.clasificacion{
    direction: rtl;/* right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
    display: flex;
    justify-content: left;
    margin-left: 1rem;
}
.clasificacion label{color:grey;}
.clasificacion label:hover{color:orange;}

.clasificacion label:hover ~ label{color:orange;}

.clasificacion input[type = "radio"]:checked ~ label{color:orange;}
.clasificacion input[type = "radio"]{display:none;}

.boton{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

        button{
            margin-right: 1rem;
        }
}

@media screen and (max-width: 768px){

    .formulario_t{
        margin-right: 1rem;
        margin-left: 0rem;
    }

}